block content

	div.container-fluid
		div.header 
			h3 Test Space available
		div.row
			div.col-md-5
				div(role='form') 
					div.form-group(id='form',class='has-feedback')
						label.control-label(for='space_name',class='hide')
						input#space_name(type='text', class='form-control',placeholder='Space name',aria-describedby='icon4status')
						span(class='glyphicon glyphicon-ok form-control-feedback hide',aria-hidden='true')
						span(id='icon4status',class='sr-only hide') (success)
					
					button#create_space(type='button', class='btn btn-primary') Create
			div.col-md-7
			
		script(src='/js/admin.js')
