extends ../layout

block content
	link(rel='stylesheet', href='/dropzone/css/basic.css')
	link(rel='stylesheet', href='/dropzone/css/dropzone.css')
	div.container
		<div class="alert hide" role="alert" id="message"></div>
		div#user_part(class="panel panel-info")
			div.panel-heading
				h2.panel-title 上传文件
			div.panel-body
				h2 把文件拖到浏览器里面上传
				div.well
					button(type='submit', class='btn btn-danger', id='uploadButton') 点击这个按钮上传
					
				form#upyunDropzone(class='dropzone dz-clickable',action='http://v0.api.upyun.com/nimysan')
					div(class='dz-default dz-message')
						span 把文件拖入到这里上传
				
	script(src='http://cdn.bootcss.com/crypto-js/3.1.2/components/core-min.js')	
	script(src='http://cdn.bootcss.com/crypto-js/3.1.2/components/md5.js')				
	script(src='/dropzone/dropzone.upyun.min.js')
	script(src='/js/fileupload.js')
			