block content

	div.container
		div.header
			ul.nav.nav-pills.pull-right
				li.active
					a Home
				li
					a About
				li
					a Contact
					
			h3.text-muted Bushole

			
		div.jumbotron
			h1 Communication
			p.lead Everywhere!
			p
				a.btn.btn-lg.btn-success(role="button") Sign up today
		
		div.row.marketing
			div.col-lg-6
				h4 SubHeading
				p Donec id elit non mi porta gravida at eget metuds.
				
			div.col-lg-6
				h4 SubHeading
				p Donec id elit non mi porta gravida at eget metuds.
				
			div.col-lg-6
				h4 SubHeading
				p Donec id elit non mi porta gravida at eget metuds.

 
		div.footer
			p &copy; Company 2014