.yt-navbar {
	min-height: 124px;
	margin-bottom : 19px;
}

#announcement {
	height: 30px;
	background: #40bfc0;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #89c2cb;
	font-size: 12px;
	color: #3c3c3c;
	font-family: sans-serif;
	line-height: 30px;
	width: 100%;
	text-align: center;
}

body{
	/* background-color: #f54; */
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

.yt-navbar {
	margin-bottom: 0px;
}

.container-body {
	margin-top: 20px; 
	
}

.loading-mask {
	
}

.yt-ads-studio {
	font-size: 22px;
	padding-left: 100px;
	font-weight: bolder;
	color: red;
}

.yt-form-button-bar {
	text-align: center;
}

.logo-container {
	text-align: center;
	background-color: #00a86b;
	padding-top: 50px;
	padding-bottom: 50px;
}

.gallery-thumbnail {
	display: block;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 5px #999;
}

.gallary_qr_code {
	width: 100px;
	height: 100px;
	float: left;
}

.gallery-button{
	margin-right: 6px;
}

#qr{
	width: 200px;
	height: 200px;
}

.user-qr-code{
	width: 200px;
	height: 200px;
}

.copy{
	margin-top: 40px;
}

.index-search-group {
	width : 100%;
	margin-bottom: 32px;
}

 /* --------image counts -------- */
 .img-thumbnail-index {
	position: relative;
	/* box-shadow: 0px 0px 5px rgb(238, 139, 186);  */
 }

 .img-thumbnail-index:hover {
	position: relative;
	/* box-shadow: 0px 0px 5px rgb(238, 139, 186); */
 }

 .num {
 	font-size: 26px;
	margin-right: 5px;
	position: relative;
	top: 1px;
	font-family: Trebuchet MS;
	background: transparent;
	color: #FFF;
 }
 .tags-container {


 }

.tags {
	list-style: none;
	overflow: auto;
	margin-left: -38px;
}

.tag-container{
	float: left;
	margin-right:4px;
	margin-bottom: 2px;
}
 .tag-link {
 	font-size: 8px;
 }

.accesses-tag{
	margin-top: 2px;
	margin-left: 2px;
	padding-top: 0px;
}

 .image-counts-label {
 	position: absolute;
	line-height: 32px;
	height: 32px;
	right: 0;
	top: 30px;
	padding: 0 10px 0 16px;
	background-image: url(/img/image-counts.png);
	background-repeat: no-repeat;
	background-position: left top;
	_filter: progid:dximagetransform.microsoft.alphaimageloader(src='/img/image-counts.png', sizingmethod='crop');
	_background-image: none;
	color: #fff;
	display: block;
 }