/* nav bar customization */
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-brand {
	height: 40px;
	padding-top: 10px;
}
.navbar {
	min-height: 40px;
}


.navbar-toggle {
	margin-top: 4px;
	margin-bottom: 4px;
}


textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
	padding: 0;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
	box-shadow: inset 0 -1px 0 #dddddd;
	font-size: 12px;
}

.bootstrap-dialog.type-primary .modal-header {
	background-color: #862197;
}
/* nav var customization */

#announcement {
	height: 30px;
	background: #40bfc0;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #89c2cb;
	font-size: 12px;
	color: #3c3c3c;
	font-family: sans-serif;
	line-height: 30px;
	width: 100%;
	text-align: center;
}

body{
	/* background-color: #f54; */
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

.yt-navbar {
	/*margin-bottom: 0px; */
	min-height: 32px;
}

.container-body {
	margin-top: 20px; 
	
}


.page-mask{
	/* border: 2px red solid; */
	/* height: 200px; */
	z-index: 10000;
	background-color: rgba(194,113,230,0.6);
	/* opacity: 0.7; */
	position: fixed;
	filter:alpha(opacity=50);/*IE*/    
    /* opacity:0.5; /*FF */    
    text-align: center;
    vertical-align: middle;
}
#page_mask_indicator{
	z-index: 10002;
	opacity: 1.0;
	color: darkred;
	font-size: 16px;
}

.page-mask-img {
	z-index: 10003;
	width: 64px;
	height: 64px;
}

.yt-ads-studio {
	font-size: 22px;
	padding-left: 100px;
	font-weight: bolder;
	color: red;
}

.yt-form-button-bar {
	text-align: center;
}

.yt-form-button {
	margin-right: 8px;
}

.yt-table-button {
	margin-right: 8px;
}

.logo-container {
	text-align: center;
	background-color: #00a86b;
	padding-top: 50px;
	padding-bottom: 50px;
}

.gallery-thumbnail {
	display: block;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 5px #999;
}

.gallary_qr_code {
	width: 100px;
	height: 100px;
	float: left;
}

.gallery-button{
	margin-right: 6px;
}

#qr{
	width: 200px;
	height: 200px;
}

.user-qr-code{
	width: 200px;
	height: 200px;
}

.copy{
	margin-top: 40px;
}

.index-search-group {
	width : 100%;
	margin-bottom: 32px;
}

 /* --------image counts -------- */
 .img-thumbnail-index {
	position: relative;
	/* box-shadow: 0px 0px 5px rgb(238, 139, 186);  */
 }

 .img-thumbnail-index:hover {
	position: relative;
	/* box-shadow: 0px 0px 5px rgb(238, 139, 186); */
 }

 .num {
 	font-size: 26px;
	margin-right: 5px;
	position: relative;
	top: 1px;
	font-family: Trebuchet MS;
	background: transparent;
	color: #FFF;
 }
 .tags-container {


 }

.tags {
	list-style: none;
	overflow: auto;
	margin-left: -38px;
}

.tag-container{
	float: left;
	margin-right:4px;
	margin-bottom: 2px;
}
 .tag-link {
 	font-size: 8px;
 }

.accesses-tag{
	margin-top: 2px;
	margin-left: 2px;
	padding-top: 0px;
}

 .image-counts-label {
 	position: absolute;
	line-height: 32px;
	height: 32px;
	right: 0;
	top: 30px;
	padding: 0 10px 0 16px;
	background-image: url(/img/image-counts.png);
	background-repeat: no-repeat;
	background-position: left top;
	_filter: progid:dximagetransform.microsoft.alphaimageloader(src='/img/image-counts.png', sizingmethod='crop');
	_background-image: none;
	color: #fff;
	display: block;
 }
.images-selector {
	margin-bottom: 10px;
}
 .img-be-selected {
 	position: relative;
	width: 100px;
	margin: 6px;
	/* padding: 20px; */
	vertical-align: middle;
 }

 .img-selected-indicator {
	position: absolute;
	line-height: 32px;
	height: 32px;
	right: 0;
	top: 2px;
	padding: 0 10px 0 16px;
	background-image: url(/img/pickup.png);
	background-repeat: no-repeat;
	background-position: center center;
	_filter: progid:dximagetransform.microsoft.alphaimageloader(src='/img/image-counts.png', sizingmethod='crop');
	_background-image: none;
	color: #fff;
	display: block;
	width: 100px;
 }

 .being-select {
 	opacity: 0.7;
 }

#img_cover_tagert {
	border: 2px purple dashed;
	margin-bottom: 10px;
} 
 #selector_select_all {
 	margin-bottom: 10px;
 	margin-left: 4px;
 }

 #selector_unselect_all {
 	margin-bottom: 10px;
 }