
/* Gallery View Container */
.gallery-view-container{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.gallery-view-content{
	margin: 0 auto;
	width: 100%;
}
.gv_galleryWrap{
	margin: 0 auto;
}

/* Gallery View Container */