extends ../layout.jade
block content
	div.container(class='container-body')
		ul(class="nav nav-tabs", role="tablist")
			//li.active(role="presentation")
			//	a(href='#tab_profile',role="tab" data-toggle="tab", aria-controls="tab_profile")用户信息总揽
			li(role="presentation")
				a(href='#tab_settings',role="tab" data-toggle="tab", aria-controls="tab_settings") 更新用户信息
			li.active(id='gallery',role="presentation")
				a(href='#tab_galleries',role="tab" data-toggle="tab", aria-controls="tab_galleries") 相册管理
		
		div.tab-content
			div#tab_profile(role="tabpanel" class="tab-pane fade")
				div.row
					div(class='col-md-6 col-sm-12')
						h2= user.realName
							small= user.desc
						img.user-qr-code(class='img-thumbnail', src='http://qr.liantu.com/api.php?bg=ffffff&fg=000000&text=http://localhost:3000/user/#{user.loginId}')
					div(class='col-md-6 col-sm-12')
			div#tab_settings(role="tabpanel" class="tab-pane fade")
				div.row(style='margin-top:20px;',class='text-center')
					div(class='col-md-2 col-sm-12')
					div(class='col-md-8 col-sm-12')
						div(role='form', class="gallery_form",id='user_info_part')
					div(class='col-md-2 col-sm-12')
						
			div#tab_galleries(role="tabpanel" class="tab-pane fade in active")
				div#gallery_part(class="panel panel-info")
					div.panel-heading
						h2.panel-title 相册
					div.panel-body
						div.row

							div(class='col-md-5 col-sm-12')
								div#gallery_list
									h5 你的相册列表
									div(id='gallery_list_row')

							div(class='col-md-7 col-sm-12 user-gallery-form', style='border-left: 1px #9c27b0 solid;')
								div
									h4 相册编辑
								div(role='form', class="gallery_form")
									div#g_form_id(type='hidden') 
									div.form-group(class='has-feedback')
										div.input-group
											span(class='text-info input-group-addon') 标题
											input#g_title(type='text', class='form-control',placeholder='相册标题,会显示给别人')
										
									div.form-group(class='has-feedback')
										div.input-group
											span(class='text-info input-group-addon') 描述
											textarea#g_desc(type='text',rows='3', class='form-control',placeholder='详细描述')
									
									div.form-group(class='has-feedback')
										div.input-group
											span(class='text-info input-group-addon') 标签
											input#g_tags(type='text', class='form-control',placeholder='相册特色的描述， 请以空格分开多个相册风格')
									
									div.form-group
										div.input-group(style='margin-left: 20px;')
											div.checkbox
												label
													input#gallery_primate(type="checkbox")
													私密？	
												
									div#gallery_question(class='hide')
										div.form-group(class='has-feedback')
											div.input-group
												span(class='text-info input-group-addon') 谜面
												input#gq_desc(type='text', class='form-control',placeholder='问题描述，你的访问者会看到这个问题')
										
										div.form-group(class='has-feedback')
											div.input-group
												span(class='text-info input-group-addon') 谜底
												input#gq_answer(type='text-area', class='form-control',placeholder='你给的答案，访问者给出精确答案才能允许访问')
									div.cover
										h6 设置封面， 请将选择的照片拖入到封面区中
										img#img_cover_tagert(src='/img/cover_pl.png',alt='封面。。。', class="gallery-cover-selector img-rounded")
									div#g_all_images_part(class="collapse")
										button#selector_select_all(type='button', class='btn btn-primary btn-sm') 全选
										button#selector_unselect_all(type='button', class='btn btn-danger btn-sm') 全不选
										div#links(class='images-selector')
										//button#selector_close(type='button', class='btn btn-primary btn-sm',data-dismiss="modal") 关闭
										//button#selector_save(type='button', class='btn btn-danger btn-sm') 选定
																
									button#g_img_selector(type='button', class='btn btn-info btn-sm',data-toggle="collapse", data-target="#g_all_images_part", aria-expanded="false", aria-controls="g_all_images_part") 选择图片
										span(class='glyphicon glyphicon-cloud')
									button#g_style_selector(type='button', class='btn btn-danger btn-sm') 选择相册显示风格
										span(class='glyphicon glyphicon-cloud')
										
									button#g_create(type='button', class='btn btn-primary btn-sm') 提交
										span(class='glyphicon glyphicon-cloud')

									button#g_reset(type='button', class='btn btn-danger btn-sm') 重置
										span(class='glyphicon glyphicon-edit')
				
			div#g_style_part(class="modal fade",role="dialog")
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(type="button" ,class="close" , data-dismiss="modal")
								span(aria-hidden="true")&times;
								span.sr-only Close
							h5.modal-title 选择你要的相册风格
						div.modal-body
							div.row
								div(class="col-xs-6 col-md-3")
									div.thumbnail
										a(href='#')
											img(src='/img/speedial.jpg')
										div.caption
											button(type='button', class='btn btn-sm btn-warning', gstyle='speedial',style='width:100%') 九宫格
													
								div(class="col-xs-6 col-md-3")
									div.thumbnail
										a(href='#')
											img(src='/img/photoswipe.jpg')
										div.caption
											button(type='button', class='btn btn-sm btn-warning',gstyle='photoswipe',style='width:100%') 左右滑动
								div(class="col-xs-6 col-md-3")
									div.thumbnail
										a(href='#')
											img(src='/img/photoswipe.jpg')
										div.caption
											button(type='button', class='btn btn-sm btn-warning',gstyle='blueimp',style='width:100%') Blueimp
													
								div(class="col-xs-6 col-md-3")
									div.thumbnail
										a(href='#')
											img(src='/img/galleryview.jpg')
										div.caption
											button(type='button', class='btn btn-warning btn-sm',gstyle='imgeaccordion',style='width:100%') 手风琴
														
	script(src='/jquery/jquery-ui.js')
	//script(src='/jquery/easyloader.js')
	//script(src='/jquery/jquery.easyui.min.js')
	script(src='/js/user.js')
	
	
