extends ../layout.jade
block content
	div.container(class='container-body')
		<div class="alert hide" role="alert" id="message"></div>
		<div class='hide'><input type='hidden' value='#{user}' id="metadata_user"></input></div>
		div.row
			div.col-md-2
				ul(class="nav nav-pills nav-stacked")
					li.active
						a(href='/user/profile') 用户设置
					li
						a(href='/user/gallery') 相册管理
					li
						a#create_gallery(href='javascript:void(0);') 相册创建
			div.col-md-10
				block user_content
					div(class="panel panel-info")
						div.panel-heading
							h2.panel-title 相册
						div.panel-body
							div(role='form', class="gallery_form")
								div#g_form_id(type='hidden') 
								div.form-group(class='has-feedback')
									div.input-group
										span(class='glyphicon glyphicon-inbox input-group-addon')
										input#g_title(type='text', class='form-control',placeholder='相册标题,会显示给别人')
									
								div.form-group(class='has-feedback')
									div.input-group
										span(class='glyphicon glyphicon-list-alt input-group-addon')
										input#g_desc(type='text-area', class='form-control',placeholder='详细描述')
								
								div.form-group
									div.input-group
										label 相册是公开的还是私密的?
										div.switch
											input#gallery_primate(type="checkbox", data-on-text="公开",data-off-text="私密", checked=true)
								div#gallery_question(class='hide')
									div.form-group(class='has-feedback')
										div.input-group
											span(class='glyphicon glyphicon-question-sign input-group-addon')
											input#gq_desc(type='text', class='form-control',placeholder='问题描述，你的访问者货看到这个问题')
									
									div.form-group(class='has-feedback')
										div.input-group
											span(class='glyphicon glyphicon-pencil input-group-addon')
											input#gq_answer(type='text-area', class='form-control',placeholder='你给的答案，访问者给出精确答案才能允许访问')
								
								div#links
										
								button#g_img_selector(type='button', class='btn btn-success') 选择图片
									span(class='glyphicon glyphicon-cloud')
									
								button#g_create(type='button', class='btn btn-primary') 按下按钮创建
									span(class='glyphicon glyphicon-cloud')
									
					div.row
						div.col-md-12
							div#gallery_list
								h3 相册集合
						div.col-md-0
						
					
	script(src='/js/user.js')
	
	
