extends ../layout
block content
	<link rel="stylesheet" href="/gallerylibs/imgeaccordion/style.css"> 
	div.container
		h2= gallery.title
		p= gallery.desc
		button#full_screen_button(class='btn btn-primary') 全屏观看
		div.ia-container
			each item in gallery.images
				figure
					img(src='#{item}!phone',alt='...')
					input(type="radio", name="radio-set", checked="checked")
					figcaption
						span True Color
		
		
		script(src='/jquery/jquery-1.11.0.js')
		script(src='/jquery/jquery.fullscreen-min.js')
		script(src='/js/gallery_portal.js')
		script(src='/js/gallery/imgeaccordion.js')