extends ../layout
block content
	//use iframe to display the gallery view to avoid style pollution
	div.container(style='text-align: center;')
		iframe(src='/gallery/#{gallery._id}?style=galleryview',name='gallery_show_window',frameborder="0",scrolling="no",allowtransparency="true",style="background-color=transparent",width='86%')
	script(src='/js/gallery_portal.js')