extends ../layout
block content
	//gallery images urls
	ul(id="gallery_images", style='display:none;')
		each item in gallery.images
			li= item
	div.container(class='container-body')
		div
			div#blueimp-gallery.blueimp-gallery
				div.slides
				h3.title
				a.prev 
				a.next 
				a.close
				a.play-pause
						
		div#links
			
	
	script(src='//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
	//script(src='/gallerylibs/speeddial/js/plugins.js')
	//script(src='/gallerylibs/speeddial/js/scripts.js')
	script(src='/js/blueimp.js')