//- index.jade
//- This file defines the view of this app.
extends layout
block banner
	div.hide 404

block content
	div(style='margin: 128px',class='text-center')
		div(style='width: 460px;')
			blockquote
				p 找不到这个页面。。。 请去到主页继续浏览。。。
</blockquote>
