block content

	div.container
		div.header
			ul.nav.nav-pills.pull-right
				li.active
					a Home
				li
					a About
				li
					a Contact
					
			h3.text-muted Photos Repository

			
		div.jumbotron
			h1 Communication
			p.lead Everywhere!
			p
				a.btn.btn-lg.btn-success(role="button") Sign up today
		
		div.row.marketing
 
		div.footer
			p &copy; Company 2014