block footer
	<hr/>
	div.footer
		div#mask_container
			div(id="page_mask", class="page-mask", style='display:none')
					div(id="page_mask_indicator")
						span.page-mask-text 装载中...
						img.page-mask-img(src='/img/ajax-loader.gif')
						
			//div(class='modal fade', role="dialog", id='message_modal')

		div.container
			div.footer-infor
				div.container
			div.footer-copy
				div.container
					div.row
					div.col-md-8(style='text-align:center')
						a(href='http://www.miitbeian.gov.cn/',alt='ICP备案网站', target='_blank') 粤ICP备15001621号
						p.copy 2014 - 2016 &copy; Marryy.com, All Rights Reserved. 雅潼万象 版权所有 
					div.col-md-4
						img(src='/img/QR.png', id='qr', style="width:128px;height:128px")
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254447674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1254447674%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
