block footer
	<hr/>
	div.footer
		div.container
			div.footer-infor
				div.container
			div.footer-copy
				div.container
					div.row
					div.col-md-8
						p.copy 2014 - 2018 &copy; Marryy.com, All Rights Reserved. 雅潼万象 版权所有 
					div.col-md-4
						img(src='/img/QR.png', id='qr')
