//- index.jade
//- This file defines the view of this app.
extends layout
block banner
	div#carousel-banner(class="carousel slide .visible-lg-* visible-md-*", data-ride="carousel")
		ol(class="carousel-indicators")
			li(data-target="#carousel-banner", data-slide-to="0", class="active")
			li(data-target="#carousel-banner", data-slide-to="1")
			li(data-target="#carousel-banner", data-slide-to="2")
		div(class="carousel-inner", role="listbox")
			div(class='item active')
				img(src='/img/banner/union.png', alt='...',style='height:330px')
				div(class='carousel-caption')
			div(class='item')
				img(src='/img/banner/banner.jpg', alt='...',style='height:330px')
				div(class='carousel-caption')
			div(class='item')
				img(src='/img/banner/cdn_banner.jpg', alt='...', style='height:330px')
				div(class='carousel-caption')
		a(class="left carousel-control", href="#carousel-banner", role="button", data-slide="prev")
			span(class="glyphicon glyphicon-chevron-left", aria-hidden="true")
			span.sr-only Previous
		a(class="right carousel-control", href="#carousel-banner", role="button", data-slide="next")
			span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
			span.sr-only Next
//block search
	//div.container(class='container-body')
	//	div.input-group
	//		input(type="text" class="form-control" placeholder="请输入关键字")
	//		span.input-group-addon @

block content
	script(src='/js/effect/jumpOver.js')
	script(src='/jslib/unibox-master/js/unibox.min.js')
	link(rel='stylesheet', href='/jslib/unibox-master/css/unibox.min.css')
	div.container(class='container-body', id='content')
		div.row
			div(class='col-md-2 col-sm-2 col-xs-12')
				img(alt="雅潼万象", src="/img/yt-ico.png", style='float:right;margin-right:-20px;margin-top:16px')
						
			div(class='col-md-8 col-sm-8 col-sm-12')
				div(class='index-search-group')
					//img(alt="雅潼万象", src="/img/yt-ico.png", style='float:right;margin-right:-20px;margin-top:16px')
					div.input-group(id='unibox')
						input(type='text', class= 'form-control', id='index_search_box')
						div(class='input-group-btn')
							button#index_search_button(class='btn btn-info btn-medium', style='margin-top: -4px;margin-right:20px;')
								span 找
							img#search_loader(class='hide', src='/img/ajax-loader2.gif', style="width:32px;height:32px;")
						
					p.yt-warning-message(class='hide text-warning') 没有你要找的内容
						

			div(class='col-md-2 col-sm-12')
		
			
		
		//---4 galleries in one column
		input(type='hidden',id='galleries_data',value='#{JSON.stringify(galleries)}')
		div.row(id='search_result_container')
			div(class='col-md-10 col-sm-10 col-xs-12', id='search_result_list')
			div(class='col-md-2 col-sm-2 col-xs-0', id='search_hots_words')

		div.row(id='gallery_container')
			div(class='col-md-3 col-sm-3 col-xs-12', id='container-column-1')
			div(class='col-md-3 col-sm-3 col-xs-12', id='container-column-2')
			div(class='col-md-3 col-sm-3 col-xs-12', id='container-column-3')
			div(class='col-md-3 col-sm-3 col-xs-12', id='container-column-4')
			div.loading(style='text-align:center')
				img(src='/img/ajax-loader.gif',style='width:128px;height:128px;')
				
		script(src='/js/static.js')
		script(src='/js/yt_portal.js')
		script(src='/jquery/scrollpagination.js')

