//- index.jade
//- This file defines the view of this app.
extends layout
block banner
	div#carousel-banner(class="carousel slide .visible-lg-* visible-md-*", data-ride="carousel")
		ol(class="carousel-indicators")
			li(data-target="#carousel-banner", data-slide-to="0", class="active")
			li(data-target="#carousel-banner", data-slide-to="1")
			li(data-target="#carousel-banner", data-slide-to="2")
		div(class="carousel-inner", role="listbox")
			div(class='item active')
				img(src='/img/banner/union.png', alt='...',style='height:330px')
				div(class='carousel-caption')
			div(class='item')
				img(src='/img/banner/banner.jpg', alt='...',style='height:330px')
				div(class='carousel-caption')
			div(class='item')
				img(src='/img/banner/cdn_banner.jpg', alt='...', style='height:330px')
				div(class='carousel-caption')
		a(class="left carousel-control", href="#carousel-banner", role="button", data-slide="prev")
			span(class="glyphicon glyphicon-chevron-left", aria-hidden="true")
			span.sr-only Previous
		a(class="right carousel-control", href="#carousel-banner", role="button", data-slide="next")
			span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
			span.sr-only Next
//block search
	//div.container(class='container-body')
	//	div.input-group
	//		input(type="text" class="form-control" placeholder="请输入关键字")
	//		span.input-group-addon @

block content
	script(src='/js/effect/jumpOver.js')
	script(src='/jslib/unibox-master/js/unibox.min.js')
	link(rel='stylesheet', href='/jslib/unibox-master/css/unibox.min.css')
	div.container(class='container-body')
		//hot tags
		div.row(style='display:none;')
			div(class='col-sm-6 col-md-3')
				div(class='thumbnail tile tile-wide tile-teal')
					h1 Tweet
			div(class='col-sm-6 col-md-3')
				div(class='thumbnail tile  tile-wide tile-green')
					H1 婚恋
			div(class='col-sm-6 col-md-3')
				div(class='thumbnail tile  tile-wide tile-orange')
					Twtte
			div(class='col-sm-6 col-md-3')
				div(class='thumbnail tile tile-wide tile-amethyst')
					Twtte
		div.row
			div(class='col-md-2 col-sm-12')
				img(alt="雅潼万象", src="/img/yt-ico.png", style='float:right;margin-right:-20px;margin-top:16px')
						
			div(class='col-md-8 col-sm-12')
				//<span class="glyphicon glyphicon-star" aria-hidden="true"></span>

				div(class='index-search-group')
					div.input-group(id='unibox')
						input(type='text', class= 'form-control', id='index_search_box')
						div(class='input-group-btn')
							button(class='btn btn-info btn-medium', style='margin-top: -4px;') 找
						

			div(class='col-md-2 col-sm-12')
			
		//if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
		//	.navigation.well-sm#pagination
		//		ul.pager
		//			if paginate.hasPreviousPages
		//				li.previous
		//					a(href=paginate.href(true)).prev
		//						|  上一页
		//					i.fa.fa-arrow-circle-left
		//			if paginate.hasNextPages(pageCount)
		//				li.next
		//					a(href=paginate.href()).next
		//						| 浏览更多相册
		//					i.fa.fa-arrow-circle-right
		
		//---4 galleries in one column
		input(type='hidden',id='galleries_data',value='#{JSON.stringify(galleries)}')
		div.row(id='gallery_container')
			div(class='col-md-3 col-sm-12', id='container-column-1')
			div(class='col-md-3 col-sm-12', id='container-column-2')
			div(class='col-md-3 col-sm-12', id='container-column-3')
			div(class='col-md-3 col-sm-12', id='container-column-4')
				
		script(src='/js/yt_portal.js')

