//- index.jade
//- This file defines the view of this app.
extends layout
block content
	div.metadata(class='hide')
		li.metadata_base_path=basePath
	
	div.container(class='container-body')
		div.row
			div(class='cos-sm-12 col-md-12')
				div.thumbnail
					a(href='/space/sample1')
						img.gallery_thumbnail(src='http://nimysan.b0.upaiyun.com/sample1/li4J5yZUDtPg.jpg!phone',alt='...')
					div.caption
						div.row
							div(class='cos-sm-6 col-md-9')
								h3 陈先生和他太太
								p 在薰衣草庄园的浪漫气氛下拍婚纱照，你就是我的人生的主角，愿你我能一生珍爱，至死不渝。
							div(class='cos-sm-6 col-md-3')
								img(src='img/sample_qr.png', class='gallary_qr_code')
				
		div.row
			div(class='cos-sm-12 col-md-12')
				div.thumbnail
					a(href='/space/test')
						img.gallery_thumbnail(src='http://nimysan.b0.upaiyun.com/sample1/4473131_184121113000_2.jpg!phone',alt='...')
					div.caption
						div.row
							div(class='cos-sm-6 col-md-9')
								h3 陈先生和他太太
								p 在薰衣草庄园的浪漫气氛下拍婚纱照，你就是我的人生的主角，愿你我能一生珍爱，至死不渝。
							div(class='cos-sm-6 col-md-3')
								img(src='img/sample_qr.png', class='gallary_qr_code')
						
		div.row
			div(class='cos-sm-12 col-md-12')
				div.thumbnail
					a
						img.gallery_thumbnail(src='http://nimysan.b0.upaiyun.com/sample1/7-130323104610646.jpg!phone',alt='...')
					div.caption
						div.row
							div(class='cos-sm-6 col-md-9')
								h3 陈先生和他太太
								p 在薰衣草庄园的浪漫气氛下拍婚纱照，你就是我的人生的主角，愿你我能一生珍爱，至死不渝。
							div(class='cos-sm-6 col-md-3')
								img(src='img/sample_qr.png', class='gallary_qr_code')



