doctype html
html
	head
	// title= title
	include head
	body
		input(type='hidden', value='#{JSON.stringify(user)}', id='metadata_user')
		include nav
		block banner
		block content
		include footer
	
