block nav
	nav(class='navbar navbar-default navbar-fixed-top', role="navigation")
			<div id='announcement'><span class="glyphicon glyphicon glyphicon-volume-up" aria-hidden="true"></span> 【公告】2014年8月1日起，雅潼照片服务公司正式成立了!  </div>
			div.container-fluid
				div.navbar-header
					a.navbar-brand
						雅潼画社
