block nav
	nav(class='navbar navbar-default navbar-static-top yt-navbar', role="navigation")
		//<div id='announcement'><span class="glyphicon glyphicon glyphicon-volume-up" aria-hidden="true"></span>【公告】2014年12月31日起，雅潼画社对外服务</div>
		div.container
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='javascript:void(0)') 
						h1 雅潼万象
						
				div(class="collapse navbar-collapse")
					div.navbar-right
						div
							h3 I'M
					