block nav
	nav(class='navbar navbar-inverse yt-navbar', role="navigation")
		//<div id='announcement'><span class="glyphicon glyphicon glyphicon-volume-up" aria-hidden="true"></span>【公告】2014年12月31日起，雅潼画社对外服务</div>
		div.navbar-inner
			div.container(style='width:100%;')
				//div.container-fluid
				div.navbar-header
					button(class="navbar-toggle collapsed", type="button", data-toggle="collapse", data-target=".yt-navbar-collapse")
						span(class='class="sr-only"')
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")

					a.navbar-brand(href='/', alt="雅潼万象")
						span.text-danger 雅
						span.text-info 潼
						span.muted-text .
						span(style='font-size:16px;') 万
						span(style='font-size:16px;') 象
							
				nav(class="collapse navbar-collapse pull-right yt-navbar-collapse")
					ul(class='nav navbar-nav')
						//h3 #{JSON.stringify(user)}
						if (user.loginId || user.realName)
							li.active
								a(class='navbar-link', href='/user/profile') 
									span(class='glyphicon glyphicon-user') #{user.realName || user.loginId}
						else
							li
								a(class='navbar-link', href='/signup') 
									span(class='glyphicon glyphicon-plus') 注册
							li.active
								a(class='navbar-link', href='/login') 
									span(class='glyphicon glyphicon-user') 登录
						li
							
							a(class='navbar-link', href='/logout') 
								span(class='glyphicon glyphicon-log-out') 退出
											
							
											