//- index.jade
//- This file defines the view of this app.
extends layout
block banner
	div.hide 404

block content
	div(style='margin: 128px',class='text-center')
		div(style='width: 460px;')
			blockquote
				p 你不是管理员，没有权限访问这个页面
</blockquote>
